@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
* {
  font-family: 'Raleway' , sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1, h2, h3, p {
  font-family: "Raleway", sans-serif;
  color: #494738; }

h2 {
  font-size: 45px; }

p {
  font-size: 19px; }

.container-fluid {
  padding: 0px; }

.navbar img {
  padding-left: 15px;
  width: 248px; }

.navbar ul {
  padding-right: 15px; }
  .navbar ul li a {
    color: #494738;
    font-size: 20px; }

.navbar li a {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .7s; }
  .navbar li a:hover {
    color: #494738;
    background-size: 100% 3px; }

footer svg {
  color: #494738; }

.bg-principal {
  background-image: radial-gradient(circle, #fcfaea, #fbf9e4, #faf7de, #f9f6d9, #f8f4d3, #f3efce, #eeebca, #e9e6c5, #dfddc0, #d6d4bc, #cccbb7, #c3c2b2); }

.bg-right {
  background-image: linear-gradient(to right, #fcfaea, #fbf9e4, #faf7de, #f9f6d9, #f8f4d3, #f3efce, #eeebca, #e9e6c5, #dfddc0, #d6d4bc, #cccbb7, #c3c2b2); }

.bg-color1 {
  background-color: #f6f2cb; }

.bg-color2 {
  background-color: #fcfaea; }

.descripcion-index {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.index-wh {
  width: 100%; }

.index-carousel {
  width: 100%; }

.ubicacion {
  display: flex;
  justify-content: center;
  min-height: 100%; }

.titulo-ubicacion {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px; }

.about {
  margin-top: 25px;
  margin-bottom: 25px; }
  .about .card {
    border: none;
    margin: 10px; }
  .about .services .row {
    padding: 10px; }

.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .container-icon img {
    color: #494738; }

.descripcion-room {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.room-wh {
  width: 100%; }

.room-carousel {
  width: 100%; }

.titulo-room {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; }

.gallery img {
  width: 100%; }
  .gallery img:hover {
    border: 5px solid #f6f2cb; }

.gallery .col-lg-4 {
  margin: 0;
  padding: 15px; }

.formulario {
  padding: 20px;
  margin: 0 auto;
  width: 50%;
  min-height: 100vh; }

.btn-send, .btn-delete {
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #0067ff, #006fff, #0076ff, #007dff, #0084ff, #0089ff, #008fff, #0094ff, #0099ff, #009dff, #00a2ff, #00a6ff);
  color: white;
  width: 100px;
  height: 40px; }

.btn-delete {
  background-image: linear-gradient(to right, #ff0000, #f80000, #f10000, #eb0000, #e40000, #de0000, #d80000, #d20000, #cb0000, #c50000, #be0000, #b80000);
  margin-left: 0px; }
