@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
// FUENTES
$fuente1:'Raleway' , sans-serif;

// TAMAÑO DE FUENTES DESKTOP
// $titulo1: ;
$titulo2: 45px;
$parrafo: 19px;
$navegacion: 20px;

// TAMAÑO DE FUENTES TABLET
// $titulo1: ;
$titulo2: 45px;
$parrafo: 19px;
// TAMAÑO DE FUENTES MOBILE
// $titulo1: ;
$titulo2: 45px;
$parrafo: 19px;
// COLORES GENERALES
$yellow:#f6f2cb;
$lightyellow:#fcfaea;
$black:#494738;






